/*Main color #900505*/

.full-btn{
width: 100%;
margin-top: 10px;
height: 60px;
font-size: 29px;
line-height: 60px;
font-weight: 700;
}
.rounded-field{
	border-radius: 10px;
	height: 55px;
}
.thick-text{
	font-weight: 700;
}
.main-about{
	color: #ce0e0e;
	text-align: center;
	background: url("../images/profile/railing.jpg");
	background-size: cover;
	background-position-x: center;
	height: 100%;
	font-size: 370%;
	padding-top: 6%;
	font-family: "Source Sans Pro", "sans-serif";
}
.main-pt{
	color: #ce0e0e;
	height: 100%;
	font-size: 370%;
	text-align: center;
	background: url("../images/profile/mariaperezfis2e4.jpg");
	background-position: center center;
	background-size: cover;
	padding-top: 6%;
	font-family: "Source Sans Pro", "sans-serif";
}
.main-nutrition{
	color: #ce0e0e;
	height: 100%;
	font-size: 370%;
	text-align: center;
	background: url("../images/profile/veggies.jpg");
	background-size: cover;
	padding-top: 6%;
	font-family: "Source Sans Pro", "sans-serif";
}
.main-comingsoon{
	color: #ce0e0e;
	height: 140%;
	font-size: 370%;
	text-align: center;
	background: url("../images/profile/comingsoon.jpeg");
	background-size: cover;
	padding-top: 6%;
	font-family: "Source Sans Pro", "sans-serif";
}
.main-sales{
	color: #ce0e0e;
	text-align: center;
	background: url("../images/profile/railing.jpg");
	background-size: cover;
	background-position-x: center;
	height: 100%;
	font-size: 370%;
	padding-top: 6%;
	font-family: "Source Sans Pro", "sans-serif";
}
.heavy-testimonial{
	font-size: 75%;
	font-weight: 900;
}
.inverted-section{
	background-color: #900505;
}
.cta-button{
	text-align: center;
	border-radius: 50%;
	background-color: #900505;
	border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.header-half{
	min-height: 32%;
	max-height: 32%;
}
.main-section{
	background-color: #900505;
	color: #ffffff;
	text-align: center;
	font-size: 370%;
	padding-top: 6%;
}
.main-section h1{
	font-size: 150%;
}
.main-section h2{
	font-size: 100%;
}
.main-section-p{
	font-size: 40%;
	text-align: left;
}
.wht-text{
	color: #ffffff;
}
.red-text{
	color: #900505;
}
.section-p{
	font-size: 75%;
	font-weight: 700;
}
/*Personal Training*/
.reasons-why{
	color: #900505;
	font-size: 39px;
	margin-bottom: 45px;
}
@media screen and (max-width: 470px) {
    .adaptive-height{
		height: 1100px !important;
	}
	.adaptive-text{
		margin-top: 60%;
		font-size: 91px !important;
	}
}
@media screen and (min-width: 471px) and (max-width: 568px) {
    .adaptive-height{
		height: 900px !important;
	}
	.adaptive-text{
		margin-top: 45%;
		font-size: 91px !important;
	}
}
@media screen  and (min-width: 569px) and (max-width: 786px){
    .adaptive-height{
		height: 736px !important;
	}
	.adaptive-text{
		margin-top: -7%;
		font-size: 91px !important;
	}
	.adaptive-text{
	margin-top: -7%;
	font-size: 91px !important;
	}
}
@media screen and (min-width: 787px) and (max-width: 1020px){
	.adaptive-height{

		height: 606px !important;
		
	}
	.adaptive-text{
		margin-top: -7%;
		font-size: 91px !important;
	}
}
@media screen and (min-width: 787px) and (max-width: 1020px){
	.adaptive-height{
		height: 606px !important;
	}
	.adaptive-text{
		margin-top: -7%;
		font-size: 91px !important;
	}
}
@media screen and (min-width: 1021px){
	.adaptive-height{
		height: 606px !important;
	}
	.adaptive-text{
		margin-top: -7%;
		font-size: 91px !important;
	}
}

/* Two */

	#two-about {
		background: url("../images/profile/mariaperezfis2e38.jpg");
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
	}
/* Three */
	#three-about{
		background: url("../images/profile/mariaperezfis1o515.jpg");
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
	}